<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Store</title>
    <meta charset="UTF-8">
    <link href="bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-success">
            <div class="container">
                <a class="navbar-brand" href="/">SoftUni Store</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/orders/cart">Cart</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav" style="display: {{{anonymousDisplay}}}">
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/register">Register</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav" style="display: {{{userDisplay}}}">
                        <li class="nav-item">
                            <a class="nav-link" href="/users/logout">Logout</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav" style="display: {{{adminDisplay}}}">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="AdminDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/admin/all">Games</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/users/logout">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <br />
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="alert alert-danger" style="display: {{{show-error}}}">
                {{{error}}}
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="alert alert-success" style="display: {{{show-success}}}">
                {{{success}}}
            </div>
        </div>
    </div>

    {{{content}}}

    <footer>
        <div class="container">
            <p class="text-center">&copy; 2017 - Software University Foundation</p>
        </div>
    </footer>

    <script src="jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="bootstrap.min.js"></script>
</body>
</html>