<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1 class="display-3">Your Cart</h1>
                </div>
                <br />

                <div class="list-group">
                    
                    {{{games}}}

                    <br />
                    <div class="col-8 ml-auto mr-auto mt-5 text-center">
                        <h1><strong>Total Price - </strong> {{{total-price}}} &euro;</h1>
                    </div>
                    <div class="col-8  ml-auto mr-auto my-3">
                        <form method="post" action="/orders/finish">

                            <input type="submit" class="btn btn-success btn-lg btn-block" value="Order" />
                        </form>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</main>
