<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center"><h1 class="display-3">SoftUni Store</h1></div>

                <form class="form-inline">
                    Filter:
                    <input type="submit" name="filter" class="btn btn-link" value="All" />
                    <input type="submit" name="filter" class="btn btn-link" value="Owned" />
                </form>

                {{{games}}}
            </div>
        </div>
    </div>
</main>
<br />
